@import "cards";


.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

body {
  background-color: white;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > div {
  margin-top: 20px;
  display: flex;
}

.flat-list {
  padding-left: 10px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .card {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.marker {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}
